nav .name {
    font-size: 3em;
    display: inline-block;
}
nav ul {
    list-style: none;
    display: inline-block;
}
nav ul li {
    margin: 1em;
    display: inline-grid;
}

aside {
    float: right;
    max-width: 20em;
    margin: 2em;
}

article {
    max-width: 68em;
}
