div(class='isso-codebox')
    div(class='form-wrapper')
        p(class='info')
            = enter
        p(class='input-wrapper')
            input(type='text' name='code' placeholder=i18n('post-code'))
        p(class='post-action')
            input(type='submit' value="#{check}")
        p(class='post-message')
            span(class='text')
