div(class='isso-codebox')
    div(class='form-wrapper')
        =i18n('postcode-enter')
        p(class='input-wrapper')
            input(type='text' name='code' placeholder=i18n('post-code'))
        p(class='post-action')
            input(type='submit' value=i18n('codebox-activate'))
        p(class='post-message')
            span(class='text')
