li(class='isso-thread')
    h2()
        a(class='thread' href='/book/#{thread.uri}' rel='nofollow')
            = thread.title
    span(class="meta")
        = i18n('last-thread-update')
        time(title='#{humanize(thread.last_update_time)}' datetime='#{datetime(thread.last_update_time)}')

